.dialogs{
	display: grid;
	grid-template:
	[start] "dialogs messages" [row2]
	[row2] "dialogs text" 50px [row-end]/150px 1fr;
	grid-template-columns: 2fr 10fr;
	padding: 20px;
	
	& .dialogs__items{
		
	position: relative;
	grid-area: dialogs;

	&::before{
		content: '';
		position: absolute;
		height: 100%;
		width:1px;
		background-color:rgb(79, 212, 79);
		right: 0;
		top: 0;
	}
		
	}

	

}
.messages {
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	grid-area:messages;

	
}

.send__message{
	grid-area:text;
	& textarea{
		width:100%;

	}

	& button{
		margin: 0 auto;
	}
}