
.message{
	
	padding: 10px;
	background-color: rgb(58, 58, 153);
	color:white;
	border-radius: 20px;
	&:not(:last-child){
		margin-bottom: 15px;
	}
	& span{
	
	}
}

.messageYour{
	align-self: flex-start;
	
	text-align: left;

	border: 1px solid wheat;

}
.messageCompanion{
	align-self: flex-end;
}